@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

 
:root {
  --background: #ffffff;
  --foreground: #171717;
}
 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
   --font-primary: 'Montserrat', sans-serif;   /* PRIMARY FONT */
  --font-krona: 'Krona One', sans-serif;      /* TITLE FONT */        
  --color-primary: #1155CC
}
 
@media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}
 
body {
  background: var(--background);
  color: var(--foreground);
}
 
